################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

upload.bat
开发计划.txt
tempfile.txt
.vs
alpha
.git
Han.GJZS
command.txt
Han.GJZS
adb
编译包，解压可得到sh脚本，用mt管理器root运行
temp
__pycache__
daemon
build
dist
logs
adbshell.exe
adbshell.spec
adbshellpy.zip